<div id="metrix" class="st-results" state="empty" *ngIf="isActive">
	<div class="st-panel st-light">
		<div class="prebox">
			<app-preloader *ngIf="loadingData"></app-preloader>
			<div id="metrixResults" class="metrixList">
				<div *ngIf="totals; then thenBlock else elseBlock"></div>
			</div>
			<ng-template #thenBlock>
				<div class="metrix" *ngFor="let metric of totals" [class.desc]="metric.isDesc">
					<div class="metrixHead">{{ metric.title }}</div>
					<div class="metrixBody">
						<div><i class="fas fa-eye metrixIcon"></i> {{metric.views}}</div>
						<div><i class="fas fa-eye metrixIcon"></i> {{metric.visits}}</div>
					</div>
				</div>
			</ng-template>
			<ng-template #elseBlock>
				<div class="noresults">Результаты отсутствуют</div>
			</ng-template>
			<!-- <table class="st-genTable" *ngIf="totals; then thenBlock else elseBlock"></table>
				<ng-template #thenBlock>
					<tr class="st-genTable__row" *ngFor="let row of totals" [class.st-genTable__row-head]="row.isHead">
						<th class="st-genTable__headColumn">{{row.values[0]}}</th>
						<th class="st-genTable__headColumn">{{row.values[1]}}</th>
						<th class="st-genTable__headColumn">{{row.values[2]}}</th>
						<th class="st-genTable__headColumn">{{row.values[3]}}</th>
					</tr>
				</ng-template>
				<ng-template #elseBlock>
					<div class="noresults">Результаты отсутствуют</div>
				</ng-template> -->
		</div>
	</div>
</div>